<h4 class="container">List des Logements :</h4>
<br>
<div style="text-align: end;width: 100%;" class="container"><button type="button"  routerLink="/AddNew"
    class="btn btn-secondary " mdbRipple>Ajoutée Nouveau</button></div><br>

<div style="display: flex;flex-direction: row;flex-wrap: wrap;gap:20px;margin: auto;justify-content: center;">
  <div class="card" *ngFor="let log of logements" MyBorderCard="green" (click)="openModal(log.id)"
    style="width: 300px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
    <img [src]="log.photo" width="200px !important" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><b>{{ log.name }}</b></h5>
      <p class="card-text">Ville : <b>{{ log.city }}</b> </p>
      <p class="card-text">State : <b>{{ log.state }}</b> </p>
      <!-- <p class="card-text">{{ log.Matricule }}</p>
       <span *ngFor="let type of log.Categorie" appTypeStyle
        class="{{type | categorieVoiture}}">{{type}}</span>
      <p class="card-text">{{ log.Created | date:"dd-MM-yyyy"}}</p>
      <a href="#" class="btn btn-primary">{{log.Prices}}</a> -->
    </div>
  </div>
</div>
